p, h2 {
  font-family: fantasy;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
}